
!/.mvn/wrapper/maven-wrapper.jar
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
*.hprof
*.pb
*.pem
*.zip
.idea/
.mvn/timing.properties
buildNumber.properties
dependency-reduced-pom.xml
encoder_345M.json
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tf-gpt-2.iml
